body {
    background: linear-gradient(to bottom, #26BFFF, #0070C0); /* Azul degrade */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.container {
    width: 100%;
    max-width: 1399px;
    margin: auto;
    padding: 20px;
}


.content-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #ffffff; /* Cor do texto */
}


.img-resized {
    width: 173px;
    height: 227px;
    object-fit: cover; /* Mantém a proporção sem distorcer */
}

.text-sm {
    font-size: 12px; /* Define um tamanho menor */
}

